<div class="card flex justify-content-center gap-3">
 

<ng-container *ngIf="isArray(question.answer)">
    <p-button [severity]="wrongAnswers.includes(answer) ? 'danger' : 'info'" *ngFor="let answer of question.displayedAnswers[currentAnswerIndex]" label="{{answer}}" (click)="answerClick.emit(answer)"></p-button>
    </ng-container>
    <ng-container *ngIf="!isArray(question.answer)">
        <p-button [severity]="wrongAnswers.includes(answer) ? 'danger' : 'info'" *ngFor="let answer of question.displayedAnswers" label="{{answer}}" (click)="answerClick.emit(answer)"></p-button>
        </ng-container>
</div>